/*importando uma fonte do goole*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

/*zerando todos os componentes*/
*{
  padding: 0;
  margin:0;
  font-family: 'Inter', sans-serif;/*caso o navegador nao interprete a fonte Inter, será utilizada a fonte padrão sans-serif*/
}

header{
  background-color: #24252a;
  box-shadow: 0px 3px 10px #464646;  
}

.nav-bar{
  display: flex;
  justify-content: space-between; /*distanciando as tres divs do headers*/
  padding: 1.5rem 6rem; /*o rem ajuda a deixar o site responsivo*/
}

.log-out .btn{
  width: 35px;
  height: 35px;
  opacity: 90%;
  background-color: #cf1717;
  border-radius: 10px;
}

.logo{
  display: flex;
  align-items: center;
}  

.btn{
  opacity: 100%;
  background-color: #0187a7;
  border-radius: 5px;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-list ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item{
  margin: 0 15px;
}

.nav-link{
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.login-button button{
  border: none;
  background-color: #0187a7;
  padding: 10px 15px;
  border-radius: 5px; /*configura o arredondamento no botão*/
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}
/*este menu somente irá aparecer quando ao tamanho da tela for menor que 700px - script.js*/
.mobile-menu-icon{
  display: none;
}
/*este menu somente irá aparecer quando ao tamanho da tela for menor que 700px - script.js*/
.mobile-menu{
  display: none;
}

/*configurando o menu quando a tela for menor que 730px*/
@media screen and (max-width: 730px){
  .nav-bar{
    padding: 1.5rem 4rem;
  }
  .nav-item{
    display: none;
  }

  .login-button{
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }

  .mobile-menu-icon button{
    background-color: transparent;
    border:none;
    cursor: pointer;
  }
  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item{
    display: block;
    padding: 1.2rem;
  }
  .mobile-menu .login-button{
    display: block;
    padding: 1rem 2rem;
  }
  .mobile-menu .login-button button{
    width: 100%;/*quando o menu for aberto, o botão ocupará toda a tela*/
  }
  /*classe que sera chamada como java script*/
  .open{
    display: block;
  }
}

/*TELA DE LOGIN*/
.header-login{
  justify-content: center;
  display: flex;
  margin-right: auto;
  margin-top: auto;
  width: auto;
  height: auto;
  padding: 15px;
  /*centralizando a div*/
  position: relative;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;


}
.header-login h1{
  /*background-color:blue;*/
  color: #fff;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin: auto;

}
.container-login{ 
  background-color: #0187a7;
  display: flex;
  margin-right: 200px;
  /*margin-top: 20px;*/
  width:auto;
  height: auto;
  /*centralizando a div*/
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  
}
.container-login .form-login{
  /*centralizando a div*/
  margin-top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.mb-e .email{
  font-size: 20px;
  /*background-color:#cf1717;*/
}
.mb-p .password{
  font-size: 20px;
}

.form-login .form-control{
  font-size: 17px;
}

.r-f {
  display: flex;
  width: auto;
  height: auto;
  /*background-color:#cf1717;*/
}

/*.r-f .forgot{
  background-color:salmon;
  flex: auto;
}*/

.r-f .forgot a{
  text-decoration: none;
  color: black;
}

.r-f .form-check{
  /*background-color:salmon;*/
  flex: auto;
}

.e-r {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  /*background-color:#cf1717;*/
}
.btn-login{
  /*background-color:purple;*/
  flex:auto;
}

.btn-login .btn-enter{
  width: auto;
  height: auto;
  background-color: lightblue;
  font-size: 20px;
  border-radius: 5px;
  color:black;
  font-weight: bold;
    /*centralizando a div*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 5px;
}
.btn-login .btn-register{
  width: auto;
  height: auto;
  background-color: rgb(56, 180, 170);
  font-size: 20px;
  border-radius: 5px;
  color:black;
  font-weight: bold;
    /*centralizando a div*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 5px;
}